.nav {
  text-align: center;
  padding: 50px 0;
}

#logo {
  img {
    width: 300px;
  }
}

#description {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

#shirtLIST {
  li {
    width: calc(25% - 7.5px);
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    &:nth-child(4n) {
      margin-right: 0;
    }
    img {
      width: 100%;
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
//
//
